* { box-sizing: border-box;
}

:root {
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    --text-primary:#979dac;
    --text-secondary: #caf0f8;
    --bg-primary: #adb5bd;


    --font: 'Oswald', sans-serif;
}
body{
    background-color: #6c757d;
}
.topheader{
    background: #2f3e46;
    padding: 0;
    margin: 0;
}
.topheader li{
    color: #A8DADC;
}
.header a{
    color: #f3f4f6;
    font: 1em sans-serif;
    background-color:#2f3e46 ;
}

.navbuttom{
    margin: 0;
    padding: 0;
    text-align: left;
}

.search-bar {
    left: 400px;
}
.cart{
    margin-top: 5px;
}

#main{
    background: #777;
    color: white;
    margin: 10px;
    padding: 15px;
}


.top-nav{
    margin: 0;
    padding: 0;
    background-size: cover;
}
.top-nav-item{
    border-right: 1px solid #777;
}
.client-item {
    display: inline;
    padding: 0 4px;
    border-right: 1px solid #fff;
}
.main-div {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: right;
}

.client-list{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.content-btn {
    padding: 8px 12px;
    color: #f3f4f6;
    font-size: 22px;
    text-transform: uppercase;
    background-color: black;
    border: none;
    border-radius: 5px;
}

.footer{
    padding-block: 30px;
    background-color: #A8DADC;
}  


.footer li{
    text-transform: uppercase;
    color: #F1FAEE;
}  


.mid-footer p{
    color: #f3f4f6;
}
.content {
    padding: 0 30px;
}
.content-box {
    border-top: 1px solid #F1FAEE;
    padding-block: 10px;
}

.content-img {
    width: 90%;
    text-decoration: none;
    overflow: hidden;
}

.mainheader{
    color: #F1FAEE;
}
.content-header {
    color: #979dac;
    font-family: var(--font);
    font-size: calc(26px + (48-27) * ((100vw - 300px)/ (1600 - 300)));
    font-weight: 700;
    text-transform: uppercase;
    background-color: #000;
}

#cartbtn{
    color: #caf0f8;
}
.content-box2 {
    border-top: 1px solid #F1FAEE;
    padding-left: 15px;
    margin: 10px;
}

.content-box3 {
    border-top: 1px solid #F1FAEE;
    padding-left: 15px;
    margin: 10px;
}


.content-box4 {
    border-top: 1px solid #F1FAEE;
    padding-left: 15px;
    margin: 10px;
}

.footer a{
    color: var(--text-secondary);
    padding: 16px;
    margin-bottom: 11px;
}

#header{
    background-color: #2f3e46;
    max-width: 100%;
    margin-block-start: 12px;
    padding: 12px 0;
    color: #777;
}

#cartBtn{
    color: #caf0f8;
}

.footerh3{
    color: #F1FAEE;
}

@media only screen and (min-width:600px) {
    
    
    .navbuttom{
        margin-bottom: 0;
        padding: 0;
        text-align: left;
    }
    
    .top-nav{
        margin: 0;
        padding: 0 30px;
    }
    .top-nav-item{
        border-right: 1px solid #777;
    }
    .client-item {
        display: inline;
        padding: 0 4px;
        border-right: 1px solid #fff;
    }
    .main-div {
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        text-align: right;
    }
    
    .client-list{
        margin: 0;
        padding-left: 0;
        list-style-type: none;
    }
    
    .content-btn {
        padding: 8px 12px;
        color: #f3f4f6;
        font-size: 22px;
        text-transform: uppercase;
        background-color: black;
        border: none;
        border-radius: 5px;
    }
    
    .footer{
        padding-block: 30px;
        background-color: #495057;
    }  
    .footerh2{
        color: #F1FAEE;
    }
    .content {
        padding: 0 30px;
    }
    .content-box {
        padding-block: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(100%/3);
        border: 1px solid black;
        margin: 20px;
        border-radius: 3px;
        min-width: 300px;
    }
    
    .content-img {
        width: 90%;
    }
    
    .mainheader{
        color: #0d5ba8;
    }
    .content-header {
        color: #caf0f8;
        font-family: var(--font);
        font-size: calc(26px + (48-27) * ((100vw - 300px)/ (1600 - 300)));
        font-weight: 700;
        text-transform: uppercase;
    }
    
    
    .content-box2 {
        padding-block: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(100%/3);
        border: 1px solid #caf0f8;
        margin: 20px;
        border-radius: 3px;
        min-width: 300px;
    }

    .content-box2 p {
        color:  #fff;
    }
    
    
    .content-box3 {
        padding-block: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(100%/3);
        border: 1px solid #caf0f8;
        margin: 20px;
        border-radius: 3px;
        min-width: 300px;
    }
    .content-box3  p{
        color: #F1FAEE;
    }
    
    
    .content-box4 {
        border-top: 1px solid #fff;
        padding-block: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(100%/3);
        border: 1px solid #caf0f8;
        margin: 20px;
        border-radius: 3px;
        min-width: 300px;
    }

    .content-box4 p {
        color: #F1FAEE;
    }
    
    ul{
        color: var(--text-primary);
        padding: 10px 0;
    }

    .login-btn{
        padding: 8px 12px;
        color: #f3f4f6;
        font-size: 10px;
        text-transform: uppercase;
        background-color: black;
        border: none;
        border-radius: 5px;
    }
    h2{
        color: #caf0f8;
    }

    .bottom-footer{
        color: #A8DADC;
    }
}

/* #0E233A */